<% user = current_user %>

<%= div_for user do %>

        <div class="a">
      <div class="b">
        <div class="body">
          <div class="commentsTitle"><%= link_to user.username, user %></div>

          <p><%= user.comments.last.body %></p>

          <div class="userInfo">Inlagt för <%= time_ago_in_words(user.comments.last.created_at) %> sen
            av <%= user.username %></div>

          <% if current_user && current_user.admin? %>
              <%= link_to 'Destroy', user.comments.last, :confirm => 'Are you sure?', :method => :delete, :remote => true %>
          <% end %>
        </div>
               <div class="image"><%= gravatar_image_tag(user.email, :alt => user.email, :gravatar => {:size => 80, :default => 'http://localhost:3000/images/comments/default.jpg'}) %></div>
        <div class="clearBoth"></div>
      </div>
    </div>

<% end %>